@import "tailwindcss";
/* @import "@radix-ui/themes/styles.css"; */

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html{
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ff5400;
  --accent: 18 100% 95%;
  --accent-foreground: 18 95% 58%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1,
h2,
h3 {
  font-family: var(--font-sora);
}

body {
  font-family: var(--font-inter);
  background: var(--background);
  color: var(--foreground);
}
